#container {
    display: flex;
    justify-content: space-around;
    background-color: coral;
    padding: 10px;
    border: 2px solid black;
    font-family: Verdana;
}

#new-game {
    margin-top: 20px;
    padding:5px;
    font-size: larger;
    background-color: darkolivegreen;
    color: white;
    
}

body {
    text-align: center;
}

button {
    font-weight: bold;
    padding: 7px 10px;
    border: 1px solid black;
    border-radius: 10px;

}

button:hover {

    background-color: yellowgreen;
}